In [224]:
%matplotlib notebook
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn import cross_validation, metrics   
from sklearn.grid_search import GridSearchCV 
from sklearn.cross_validation import cross_val_score
from sklearn import ensemble
import math

In [167]:
df = pd.read_csv("../Data Science/West Nile/train.csv")
weather = pd.read_csv("../Data Science/West Nile/weather.csv")
spray = pd.read_csv("../Data Science/West Nile/spray.csv")

In [168]:
df.head(5)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [169]:
df['Address'].head(5)

0    4100 North Oak Park Avenue, Chicago, IL 60634,...
1    4100 North Oak Park Avenue, Chicago, IL 60634,...
2    6200 North Mandell Avenue, Chicago, IL 60646, USA
3      7900 West Foster Avenue, Chicago, IL 60656, USA
4      7900 West Foster Avenue, Chicago, IL 60656, USA
Name: Address, dtype: object

In [170]:
def extract_st(address):
    sid = address.split(",")[0].strip().split(" ")[0].strip()
    return sid

In [171]:
def extract_postal(address):
    postal = address.split(",")[2].strip().split(" ")[1].strip()
    return postal

In [172]:
df['sid'] = df['Address'].apply(extract_st)
#df['postal'] = df['Address'].apply(extract_postal)

In [173]:
df.head(5)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,sid
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,4100
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,4100
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,6200
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,7900
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,7900

In [174]:
df.drop("Address", axis=1, inplace=True)
df.drop("Street", axis=1, inplace=True)
df.drop("AddressNumberAndStreet", axis=1, inplace=True)

In [175]:
df['Latitude'] = df['Latitude'].apply(int)
df['Longitude'] = df['Longitude'].apply(int)

In [176]:
df.head(10)

,Date,Species,Block,Trap,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,sid
0,2007-05-29,CULEX PIPIENS/RESTUANS,41,T002,41,-87,9,1,0,4100
1,2007-05-29,CULEX RESTUANS,41,T002,41,-87,9,1,0,4100
2,2007-05-29,CULEX RESTUANS,62,T007,41,-87,9,1,0,6200
3,2007-05-29,CULEX PIPIENS/RESTUANS,79,T015,41,-87,8,1,0,7900
4,2007-05-29,CULEX RESTUANS,79,T015,41,-87,8,4,0,7900
5,2007-05-29,CULEX RESTUANS,15,T045,41,-87,8,2,0,1500
6,2007-05-29,CULEX RESTUANS,25,T046,41,-87,8,1,0,2500
7,2007-05-29,CULEX PIPIENS/RESTUANS,11,T048,41,-87,8,1,0,1100
8,2007-05-29,CULEX RESTUANS,11,T048,41,-87,8,2,0,1100
9,2007-05-29,CULEX RESTUANS,11,T049,41,-87,8,1,0,1100

In [177]:
def extract_month(date):
    date = str(date)
    return str(int(date.split("-")[1].strip()))

In [178]:
df['month'] = df['Date'].apply(extract_month)
#df.drop("Date", axis=1, inplace=True)
df.head(5)

,Date,Species,Block,Trap,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,sid,month
0,2007-05-29,CULEX PIPIENS/RESTUANS,41,T002,41,-87,9,1,0,4100,5
1,2007-05-29,CULEX RESTUANS,41,T002,41,-87,9,1,0,4100,5
2,2007-05-29,CULEX RESTUANS,62,T007,41,-87,9,1,0,6200,5
3,2007-05-29,CULEX PIPIENS/RESTUANS,79,T015,41,-87,8,1,0,7900,5
4,2007-05-29,CULEX RESTUANS,79,T015,41,-87,8,4,0,7900,5

In [179]:
df.describe()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
count,10506.000000,10506.000000,10506.0,10506.000000,10506.000000,10506.000000
mean,35.687797,41.038930,-87.0,7.819532,12.853512,0.052446
std,24.339468,0.193438,0.0,1.452921,16.133816,0.222936
min,10.000000,41.000000,-87.0,3.000000,1.000000,0.000000
25%,12.000000,41.000000,-87.0,8.000000,2.000000,0.000000
50%,33.000000,41.000000,-87.0,8.000000,5.000000,0.000000
75%,52.000000,41.000000,-87.0,9.000000,17.000000,0.000000
max,98.000000,42.000000,-87.0,9.000000,50.000000,1.000000

In [180]:
def describe_categorical(X):
    from IPython.display import display, HTML
    display(HTML(X[X.columns[X.dtypes == "object"]].describe().to_html()))

In [181]:
describe_categorical(df)

In [182]:
df['month'] = df['month'].apply(int)
df['Species'] = pd.factorize(df['Species'])[0]
df['Trap']= pd.factorize(df['Trap'])[0]
df['sid'] = pd.factorize(df['sid'])[0]

In [183]:
df.head(5)

,Date,Species,Block,Trap,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,sid,month
0,2007-05-29,0,41,0,41,-87,9,1,0,0,5
1,2007-05-29,1,41,0,41,-87,9,1,0,0,5
2,2007-05-29,1,62,1,41,-87,9,1,0,1,5
3,2007-05-29,0,79,2,41,-87,8,1,0,2,5
4,2007-05-29,1,79,2,41,-87,8,4,0,2,5

# Weather

In [184]:
weather.head(5)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [185]:
weather = weather.replace('M', -1)
weather = weather.replace('-', -1)
weather = weather.replace('T', -1)
weather = weather.replace(' T', -1)
weather = weather.replace('  T', -1)
print(weather.head(5))

   Station        Date  Tmax  Tmin Tavg Depart  DewPoint WetBulb Heat Cool  \
0        1  2007-05-01    83    50   67     14        51      56    0    2
1        2  2007-05-01    84    52   68     -1        51      57    0    3
2        1  2007-05-02    59    42   51     -3        42      47   14    0
3        2  2007-05-02    60    43   52     -1        42      47   13    0
4        1  2007-05-03    66    46   56      2        40      48    9    0

     ...    CodeSum Depth Water1 SnowFall  PrecipTotal StnPressure SeaLevel  \
0    ...                0     -1      0.0         0.00       29.10    29.82
1    ...               -1     -1       -1         0.00       29.18    29.82
2    ...         BR     0     -1      0.0         0.00       29.38    30.09
3    ...      BR HZ    -1     -1       -1         0.00       29.44    30.08
4    ...                0     -1      0.0         0.00       29.39    30.12

  ResultSpeed ResultDir  AvgSpeed
0         1.7        27       9.2
1         2.7        25       9.6
2        13.0         4      13.4
3        13.3         2      13.4
4        11.7         7      11.9

[5 rows x 22 columns]

In [186]:
weather.drop("CodeSum", axis=1, inplace=True)

In [187]:
stasion1 = weather[weather['Station'] ==1]
stasion2 = weather[weather['Station'] ==2]
stasion1.head(5)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,Sunset,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,1849,0,-1,0.0,0.00,29.10,29.82,1.7,27,9.2
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,1850,0,-1,0.0,0.00,29.38,30.09,13.0,4,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,1851,0,-1,0.0,0.00,29.39,30.12,11.7,7,11.9
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,1852,0,-1,0.0,-1,29.31,30.05,10.4,8,10.8
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,1853,0,-1,0.0,-1,29.40,30.10,11.7,7,12.0

In [188]:
stasion1.drop('Station', axis=1, inplace=True)
stasion2.drop('Station', axis=1, inplace=True)

c:\users\stardust\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\users\stardust\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [189]:
weather = stasion1.merge(stasion2, on="Date")
weather.head(10)

,Date,Tmax_x,Tmin_x,Tavg_x,Depart_x,DewPoint_x,WetBulb_x,Heat_x,Cool_x,Sunrise_x,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
0,2007-05-01,83,50,67,14,51,56,0,2,0448,...,-1,-1,-1,-1,0.00,29.18,29.82,2.7,25,9.6
1,2007-05-02,59,42,51,-3,42,47,14,0,0447,...,-1,-1,-1,-1,0.00,29.44,30.08,13.3,2,13.4
2,2007-05-03,66,46,56,2,40,48,9,0,0446,...,-1,-1,-1,-1,0.00,29.46,30.12,12.9,6,13.2
3,2007-05-04,66,49,58,4,41,50,7,0,0444,...,-1,-1,-1,-1,0.00,29.36,30.04,10.1,7,10.4
4,2007-05-05,66,53,60,5,38,49,5,0,0443,...,-1,-1,-1,-1,-1,29.46,30.09,11.2,7,11.5
5,2007-05-06,68,49,59,4,30,46,6,0,0442,...,-1,-1,-1,-1,0.00,29.62,30.28,13.8,10,14.5
6,2007-05-07,83,47,65,10,41,54,0,0,0441,...,-1,-1,-1,-1,0.00,29.44,30.12,8.5,17,9.9
7,2007-05-08,82,54,68,12,58,62,0,3,0439,...,-1,-1,-1,-1,-1,29.36,30.02,2.5,8,5.4
8,2007-05-09,77,61,69,13,59,63,0,4,0438,...,-1,-1,-1,-1,0.02,29.28,29.93,3.9,7,5.9
9,2007-05-10,84,56,70,14,52,60,0,5,0437,...,-1,-1,-1,-1,0.00,29.26,29.91,2.0,9,3.9

In [190]:
weather.describe()

,Tmax_x,Tmin_x,DewPoint_x,Water1_x,ResultSpeed_x,ResultDir_x,Tmax_y,Tmin_y,DewPoint_y,Water1_y,ResultSpeed_y,ResultDir_y
count,1472.00000,1472.000000,1472.000000,1472.0,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.0,1472.000000,1472.00000
mean,75.97894,56.730978,53.377717,-1.0,6.987092,17.656250,76.353261,58.889946,53.538043,-1.0,6.934239,17.33356
std,11.50315,10.347907,10.670263,0.0,3.586353,10.222077,11.421482,10.306855,10.683121,0.0,3.589725,9.90345
min,42.00000,29.000000,22.000000,-1.0,0.100000,1.000000,41.000000,29.000000,23.000000,-1.0,0.300000,1.00000
25%,68.00000,49.000000,46.000000,-1.0,4.400000,7.000000,69.000000,51.000000,46.000000,-1.0,4.275000,8.00000
50%,78.00000,58.000000,54.000000,-1.0,6.400000,19.500000,78.000000,60.000000,55.000000,-1.0,6.500000,19.00000
75%,85.00000,65.000000,61.250000,-1.0,9.100000,26.000000,85.000000,67.000000,62.000000,-1.0,9.225000,24.00000
max,103.00000,82.000000,75.000000,-1.0,24.100000,36.000000,104.000000,83.000000,74.000000,-1.0,21.700000,36.00000

In [191]:
df = df.merge(weather, on="Date")
df.drop("Date", axis=1, inplace=True)
df.head(10)

,Species,Block,Trap,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,sid,month,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
0,0,41,0,41,-87,9,1,0,0,5,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
1,1,41,0,41,-87,9,1,0,0,5,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
2,1,62,1,41,-87,9,1,0,1,5,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
3,0,79,2,41,-87,8,1,0,2,5,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
4,1,79,2,41,-87,8,4,0,2,5,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
5,1,15,3,41,-87,8,2,0,3,5,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
6,1,25,4,41,-87,8,1,0,4,5,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
7,0,11,5,41,-87,8,1,0,5,5,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
8,1,11,5,41,-87,8,2,0,5,5,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
9,1,11,6,41,-87,8,1,0,5,5,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4

In [192]:
df = df.convert_objects(convert_numeric=True)

c:\users\stardust\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [193]:
test = df.tail(1000)
test.head(5)

,Species,Block,Trap,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,sid,month,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
9506,2,40,115,41,-87,8,36,0,25,8,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9507,0,91,18,41,-87,8,20,0,13,8,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9508,0,91,18,41,-87,8,50,0,13,8,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9509,2,91,18,41,-87,8,38,1,13,8,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9510,0,10,116,41,-87,9,11,0,61,8,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8

In [194]:
df = df[:-1000]
df.describe()

,Species,Block,Trap,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,sid,month,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
count,9506.000000,9506.000000,9506.000000,9506.000000,9506.0,9506.000000,9506.000000,9506.000000,9506.000000,9506.000000,...,9506.0,9506.0,9506.0,9506.0,9506.000000,9506.000000,9506.000000,9506.000000,9506.000000,9506.000000
mean,0.884073,35.461182,68.140438,41.038923,-87.0,7.790659,12.749106,0.040080,29.096255,7.609089,...,-1.0,-1.0,-1.0,-1.0,0.036681,29.302442,29.946817,5.998096,17.638228,7.533894
std,0.967339,24.277950,38.836822,0.193421,0.0,1.469071,16.367211,0.196157,18.692469,1.077208,...,0.0,0.0,0.0,0.0,0.394987,0.114785,0.118505,2.990309,9.110814,2.538448
min,0.000000,10.000000,0.000000,41.000000,-87.0,3.000000,1.000000,0.000000,0.000000,5.000000,...,-1.0,-1.0,-1.0,-1.0,-1.000000,28.950000,29.590000,1.100000,1.000000,2.700000
25%,0.000000,12.000000,32.000000,41.000000,-87.0,8.000000,2.000000,0.000000,16.000000,7.000000,...,-1.0,-1.0,-1.0,-1.0,0.000000,29.230000,29.870000,3.600000,10.000000,6.000000
50%,1.000000,33.000000,75.000000,41.000000,-87.0,8.000000,4.000000,0.000000,24.000000,8.000000,...,-1.0,-1.0,-1.0,-1.0,0.000000,29.310000,29.950000,5.850000,19.000000,7.200000
75%,2.000000,52.000000,100.000000,41.000000,-87.0,9.000000,17.000000,0.000000,44.000000,8.000000,...,-1.0,-1.0,-1.0,-1.0,0.060000,29.390000,30.040000,8.200000,24.000000,9.000000
max,5.000000,98.000000,134.000000,42.000000,-87.0,9.000000,50.000000,1.000000,68.000000,10.000000,...,-1.0,-1.0,-1.0,-1.0,1.190000,29.650000,30.330000,15.400000,36.000000,16.300000

# XGBoost

In [195]:
def modelfit(alg, dtrain, predictors, target, useTrainCV=True, cv_folds=5, early_stopping_rounds=50):
    
    if useTrainCV:
        xgb_param = alg.get_xgb_params()
        xgtrain = xgb.DMatrix(dtrain[predictors], label=dtrain[target].values)
        cvresult = xgb.cv(xgb_param, xgtrain, num_boost_round=alg.get_params()['n_estimators'], nfold=cv_folds, metrics='auc', early_stopping_rounds=early_stopping_rounds)
        alg.set_params(n_estimators=cvresult.shape[0])
    
    #Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain[target],eval_metric='auc')
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])
    dtrain_predprob = alg.predict_proba(dtrain[predictors])[:,1]
        
    #Print model report:
    print("\nModel Report")
    print("Accuracy : %.4g" % metrics.accuracy_score(dtrain[target].values, dtrain_predictions))
    print("AUC Score (Train): %f" % metrics.roc_auc_score(dtrain[target], dtrain_predprob))
                    
    feat_imp = pd.Series(alg.booster().get_fscore()).sort_values(ascending=False)
    feat_imp.plot(kind='bar', title='Feature Importances')
    plt.ylabel('Feature Importance Score')
    
    print(cvresult)
    return alg

In [196]:
predictors = [x for x in df.columns if x not in ['WnvPresent']]
predictors

['Species',
 'Block',
 'Trap',
 'Latitude',
 'Longitude',
 'AddressAccuracy',
 'NumMosquitos',
 'sid',
 'month',
 'Tmax_x',
 'Tmin_x',
 'Tavg_x',
 'Depart_x',
 'DewPoint_x',
 'WetBulb_x',
 'Heat_x',
 'Cool_x',
 'Sunrise_x',
 'Sunset_x',
 'Depth_x',
 'Water1_x',
 'SnowFall_x',
 'PrecipTotal_x',
 'StnPressure_x',
 'SeaLevel_x',
 'ResultSpeed_x',
 'ResultDir_x',
 'AvgSpeed_x',
 'Tmax_y',
 'Tmin_y',
 'Tavg_y',
 'Depart_y',
 'DewPoint_y',
 'WetBulb_y',
 'Heat_y',
 'Cool_y',
 'Sunrise_y',
 'Sunset_y',
 'Depth_y',
 'Water1_y',
 'SnowFall_y',
 'PrecipTotal_y',
 'StnPressure_y',
 'SeaLevel_y',
 'ResultSpeed_y',
 'ResultDir_y',
 'AvgSpeed_y']

In [197]:
xgb1 = XGBClassifier(
 learning_rate =0.1,
 n_estimators=1000,
 max_depth=5,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'binary:logistic',
 nthread=1,
 scale_pos_weight=1,
 seed=27)
clf = modelfit(xgb1, df, predictors, 'WnvPresent')

Model Report
Accuracy : 0.9642
AUC Score (Train): 0.951418

    test-auc-mean  test-auc-std  train-auc-mean  train-auc-std
0        0.737963      0.037572        0.767143       0.007413
1        0.801456      0.039580        0.829579       0.029353
2        0.822951      0.040865        0.852756       0.032151
3        0.837548      0.029728        0.865678       0.018351
4        0.841471      0.017974        0.879450       0.009925
5        0.849191      0.017580        0.886026       0.005571
6        0.852442      0.016598        0.890859       0.004016
7        0.854704      0.015433        0.894786       0.003723
8        0.858728      0.012610        0.897103       0.003696
9        0.860365      0.011571        0.899100       0.004197
10       0.862875      0.011148        0.901523       0.003889
11       0.860851      0.013534        0.903134       0.003029
12       0.863614      0.013301        0.904436       0.002613
13       0.862925      0.011050        0.905706       0.002569
14       0.863126      0.009827        0.906815       0.002660
15       0.863915      0.010301        0.908173       0.002292
16       0.863477      0.011729        0.909746       0.001988
17       0.864285      0.011876        0.911695       0.001936
18       0.863843      0.011143        0.912657       0.002081
19       0.863543      0.011491        0.913493       0.001916
20       0.864174      0.011824        0.914188       0.001577
21       0.863220      0.011853        0.914951       0.001723
22       0.864034      0.012028        0.915731       0.001921
23       0.865739      0.011423        0.916742       0.001883
24       0.865145      0.011413        0.917180       0.001706
25       0.866322      0.011709        0.917934       0.001866
26       0.865966      0.011451        0.918746       0.002173
27       0.866202      0.011088        0.919508       0.001987
28       0.865659      0.011777        0.920535       0.002175
29       0.865852      0.010804        0.921782       0.002418
..            ...           ...             ...            ...
60       0.865801      0.007279        0.942841       0.002764
61       0.865943      0.007149        0.943414       0.003064
62       0.866240      0.007274        0.944073       0.003243
63       0.865983      0.007724        0.944637       0.003003
64       0.865630      0.008070        0.945433       0.003164
65       0.865488      0.007806        0.945973       0.003129
66       0.865436      0.008068        0.946513       0.003427
67       0.865312      0.007875        0.947035       0.003441
68       0.865299      0.007791        0.947774       0.003182
69       0.865388      0.007906        0.948057       0.003159
70       0.865047      0.008203        0.948494       0.003052
71       0.865079      0.008102        0.949203       0.002945
72       0.865260      0.008449        0.949529       0.002867
73       0.865513      0.008072        0.950134       0.002603
74       0.865889      0.007861        0.950704       0.002339
75       0.866016      0.008550        0.951247       0.002421
76       0.866318      0.008659        0.951918       0.002332
77       0.866215      0.008371        0.952531       0.002489
78       0.866303      0.008471        0.953189       0.002155
79       0.866163      0.008484        0.953479       0.002121
80       0.865906      0.008281        0.953888       0.002077
81       0.865751      0.008307        0.954387       0.002022
82       0.865912      0.007940        0.954828       0.001963
83       0.866202      0.007950        0.955355       0.001709
84       0.866397      0.008000        0.956122       0.001815
85       0.866364      0.008310        0.956678       0.001916
86       0.866304      0.008293        0.957257       0.002013
87       0.866564      0.008193        0.957806       0.002197
88       0.866566      0.008264        0.958138       0.002062
89       0.866996      0.008237        0.958492       0.001739

[90 rows x 4 columns]

In [198]:
res = test['WnvPresent']
test.drop("WnvPresent", axis=1, inplace=True)

In [199]:
test.head(10)

,Species,Block,Trap,Latitude,Longitude,AddressAccuracy,NumMosquitos,sid,month,Tmax_x,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
9506,2,40,115,41,-87,8,36,25,8,78,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9507,0,91,18,41,-87,8,20,13,8,78,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9508,0,91,18,41,-87,8,50,13,8,78,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9509,2,91,18,41,-87,8,38,13,8,78,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9510,0,10,116,41,-87,9,11,61,8,78,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9511,0,10,116,41,-87,9,34,61,8,78,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9512,0,10,116,41,-87,9,24,61,8,78,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9513,0,10,116,41,-87,9,6,61,8,78,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9514,0,10,116,41,-87,9,35,61,8,78,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8
9515,1,10,116,41,-87,9,4,61,8,78,...,-1,-1,-1,-1,0.0,29.33,29.96,10.5,5,10.8

In [229]:
ypred = clf.predict_proba(test)[:,1]
ypred

array([ 0.197     ,  0.27575   ,  0.29351667,  0.195     ,  0.2126    ,
        0.348     ,  0.295     ,  0.108     ,  0.37      ,  0.06      ,
        0.21533333,  0.20633333,  0.04466667,  0.05066667,  0.067     ,
        0.118     ,  0.103     ,  0.4046    ,  0.32087227,  0.406     ,
        0.258     ,  0.125     ,  0.059     ,  0.085     ,  0.036     ,
        0.044     ,  0.308     ,  0.091     ,  0.075     ,  0.293     ,
        0.051     ,  0.077     ,  0.032     ,  0.18383333,  0.13166667,
        0.129     ,  0.052     ,  0.019     ,  0.30867934,  0.304     ,
        0.32827017,  0.092     ,  0.031     ,  0.25633333,  0.28790714,
        0.44666667,  0.32927083,  0.064     ,  0.027     ,  0.054     ,
        0.027     ,  0.00683333,  0.016     ,  0.05378087,  0.01197619,
        0.025     ,  0.023     ,  0.01583333,  0.03883333,  0.0675    ,
        0.006     ,  0.01275   ,  0.009     ,  0.032     ,  0.02708333,
        0.023     ,  0.05781667,  0.033     ,  0.06661874,  0.008     ,
        0.0095    ,  0.015     ,  0.002     ,  0.05058053,  0.007     ,
        0.01114286,  0.01329101,  0.025     ,  0.02      ,  0.005     ,
        0.0075    ,  0.006     ,  0.00821311,  0.018     ,  0.024     ,
        0.01725   ,  0.003     ,  0.00483333,  0.032     ,  0.03791387,
        0.021     ,  0.018     ,  0.003     ,  0.007     ,  0.07275   ,
        0.035     ,  0.02625   ,  0.026     ,  0.005     ,  0.012     ,
        0.016     ,  0.02575   ,  0.02611212,  0.05240218,  0.04475   ,
        0.002     ,  0.004     ,  0.019     ,  0.03694545,  0.03425498,
        0.04195694,  0.04044971,  0.003     ,  0.004     ,  0.02      ,
        0.002     ,  0.016     ,  0.016     ,  0.05391387,  0.002     ,
        0.005     ,  0.026     ,  0.004     ,  0.03375   ,  0.03115196,
        0.013     ,  0.05416387,  0.03695952,  0.033     ,  0.04046863,
        0.002     ,  0.084     ,  0.058     ,  0.045     ,  0.05990196,
        0.03741667,  0.008     ,  0.05175   ,  0.025     ,  0.02875   ,
        0.009     ,  0.02421311,  0.02115   ,  0.01515   ,  0.01615   ,
        0.05665478,  0.02233333,  0.04519524,  0.01015   ,  0.02148333,
        0.00748333,  0.02656667,  0.03048333,  0.0555    ,  0.006     ,
        0.0135    ,  0.012     ,  0.076     ,  0.074     ,  0.04027462,
        0.02960795,  0.014     ,  0.014     ,  0.074     ,  0.11514286,
        0.01314286,  0.11814286,  0.08014286,  0.07875081,  0.09199286,
        0.01374286,  0.06874286,  0.01374286,  0.01      ,  0.04      ,
        0.01533333,  0.01233333,  0.05208333,  0.043     ,  0.03566667,
        0.03666667,  0.03604583,  0.01048333,  0.01416667,  0.04833333,
        0.045     ,  0.03733333,  0.02833333,  0.02143333,  0.033     ,
        0.03631667,  0.05291667,  0.03848333,  0.03148333,  0.03933333,
        0.06808333,  0.02998333,  0.03681667,  0.01731667,  0.04498333,
        0.02781667,  0.02481667,  0.02598333,  0.0830084 ,  0.37191667,
        0.24899524,  0.14563333,  0.03933333,  0.0620549 ,  0.22421312,
        0.19709548,  0.06522431,  0.15219371,  0.04902431,  0.07602431,
        0.02433333,  0.03133333,  0.05033333,  0.03433333,  0.03133333,
        0.04133333,  0.08634632,  0.32916667,  0.27103459,  0.06216667,
        0.07383333,  0.09857005,  0.12258333,  0.04083333,  0.1010158 ,
        0.034     ,  0.10622912,  0.07011147,  0.05464006,  0.15351725,
        0.10387472,  0.08999273,  0.0535    ,  0.0565    ,  0.0873049 ,
        0.05415385,  0.08047563,  0.085     ,  0.05      ,  0.12888824,
        0.12083333,  0.04433333,  0.10307412,  0.18848431,  0.037     ,
        0.16466754,  0.063     ,  0.31668935,  0.18281765,  0.1827    ,
        0.20849796,  0.18806681,  0.104     ,  0.13588824,  0.032     ,
        0.03472866,  0.09208856,  0.06      ,  0.035     ,  0.032     ,
        0.14890058,  0.04303472,  0.17210171,  0.102     ,  0.07388824,
        0.12      ,  0.046     ,  0.09472866,  0.04233333,  0.08719481,
        0.03133333,  0.03633333,  0.07407412,  0.034     ,  0.047     ,
        0.19646667,  0.047     ,  0.1597246 ,  0.05833333,  0.03533333,
        0.08261954,  0.067     ,  0.043     ,  0.05889127,  0.035     ,
        0.0627246 ,  0.089     ,  0.20554381,  0.17713333,  0.12283333,
        0.115     ,  0.083     ,  0.0617246 ,  0.094     ,  0.0907246 ,
        0.082     ,  0.052     ,  0.0708852 ,  0.19434247,  0.05358242,
        0.10734113,  0.07979947,  0.07204558,  0.09018303,  0.20456949,
        0.08166992,  0.09548404,  0.11088953,  0.19483594,  0.08139216,
        0.09513556,  0.09305989,  0.15488946,  0.22433   ,  0.08346889,
        0.11830222,  0.04963556,  0.17730496,  0.34777954,  0.17583333,
        0.38208557,  0.11109046,  0.07182996,  0.10004761,  0.13775709,
        0.08394761,  0.13869042,  0.04782996,  0.14140805,  0.15928349,
        0.08993656,  0.13930039,  0.14365167,  0.19032176,  0.13706472,
        0.03688558,  0.08375767,  0.098     ,  0.17924216,  0.202     ,
        0.10733333,  0.15824216,  0.19084921,  0.16084163,  0.10267693,
        0.13382622,  0.07419941,  0.07729524,  0.17533333,  0.083     ,
        0.17627647,  0.095     ,  0.0697246 ,  0.20166333,  0.29006677,
        0.30748801,  0.03993079,  0.1224    ,  0.17699216,  0.24501931,
        0.15096182,  0.22600566,  0.11408   ,  0.30001442,  0.13430222,
        0.24421661,  0.38271969,  0.31167647,  0.21040025,  0.16717647,
        0.19820536,  0.053     ,  0.04315   ,  0.02815   ,  0.027     ,
        0.0239    ,  0.13126457,  0.15983398,  0.11124314,  0.02315   ,
        0.06      ,  0.1359    ,  0.0989    ,  0.15455389,  0.13138698,
        0.10235423,  0.1398688 ,  0.04465   ,  0.06455026,  0.13699162,
        0.17906504,  0.17906504,  0.14388631,  0.10032496,  0.13283004,
        0.15219314,  0.1396658 ,  0.02615   ,  0.04715   ,  0.13996775,
        0.0339    ,  0.02518182,  0.042     ,  0.03      ,  0.113     ,
        0.16592418,  0.15602239,  0.13812917,  0.06325   ,  0.12417544,
        0.03625   ,  0.04420968,  0.0399625 ,  0.021     ,  0.12689322,
        0.12812418,  0.15728878,  0.1356602 ,  0.05145   ,  0.10800739,
        0.063     ,  0.11821238,  0.12135888,  0.0353125 ,  0.0449625 ,
        0.11657418,  0.10645   ,  0.0928125 ,  0.08838359,  0.078     ,
        0.087     ,  0.07725   ,  0.0904    ,  0.1164    ,  0.11480186,
        0.1159    ,  0.12860968,  0.1004    ,  0.063     ,  0.098     ,
        0.078     ,  0.09992978,  0.04565204,  0.04642222,  0.07036238,
        0.03493511,  0.10369154,  0.057     ,  0.0751203 ,  0.11732733,
        0.18194539,  0.07      ,  0.0874118 ,  0.073     ,  0.02818182,
        0.12975979,  0.17210303,  0.16992991,  0.16992991,  0.10605511,
        0.12481851,  0.1002371 ,  0.15284612,  0.15284612,  0.15284612,
        0.15284612,  0.12388889,  0.07122222,  0.13122222,  0.0951746 ,
        0.13288889,  0.11288889,  0.10664972,  0.04128889,  0.04538889,
        0.15606882,  0.10338889,  0.17172878,  0.21355389,  0.13999793,
        0.09664972,  0.17172878,  0.13978402,  0.096     ,  0.105     ,
        0.1194    ,  0.12068571,  0.1154    ,  0.12468571,  0.14020949,
        0.07122222,  0.05540404,  0.0862    ,  0.08482222,  0.1034    ,
        0.09125   ,  0.04620968,  0.09755979,  0.0854    ,  0.13346296,
        0.18187859,  0.18187859,  0.18187859,  0.20827447,  0.12151111,
        0.1324    ,  0.064     ,  0.08018182,  0.034     ,  0.16789968,
        0.058     ,  0.15264444,  0.05987778,  0.1050625 ,  0.05279976,
        0.02      ,  0.02154444,  0.012     ,  0.12092825,  0.014     ,
        0.10740682,  0.07421111,  0.058     ,  0.05014762,  0.073     ,
        0.10209425,  0.01      ,  0.004     ,  0.04087778,  0.034     ,
        0.09799444,  0.1185    ,  0.10973627,  0.1033457 ,  0.02632675,
        0.085     ,  0.022     ,  0.01454444,  0.03907143,  0.12461587,
        0.055     ,  0.04204444,  0.011     ,  0.07154444,  0.112     ,
        0.08804444,  0.1185    ,  0.12967587,  0.11292857,  0.04804444,
        0.039     ,  0.05604444,  0.009     ,  0.011     ,  0.01004444,
        0.0665625 ,  0.07125532,  0.09183333,  0.01      ,  0.0785625 ,
        0.08598726,  0.032     ,  0.01004444,  0.01704444,  0.002     ,
        0.11698095,  0.054     ,  0.07937778,  0.027     ,  0.00604444,
        0.024     ,  0.05904444,  0.039     ,  0.07674444,  0.0485    ,
        0.07787778,  0.06329976,  0.07233333,  0.031     ,  0.00204444,
        0.00804444,  0.039     ,  0.01216667,  0.07821111,  0.00954444,
        0.02      ,  0.0805    ,  0.09054243,  0.04204444,  0.02104444,
        0.06504444,  0.06504444,  0.07590476,  0.04107143,  0.11203488,
        0.014     ,  0.039     ,  0.01316667,  0.08545833,  0.0530625 ,
        0.035     ,  0.03133333,  0.026     ,  0.06393333,  0.0775    ,
        0.1325    ,  0.10447778,  0.12298398,  0.1093625 ,  0.08047917,
        0.0800625 ,  0.12298398,  0.0755625 ,  0.12298398,  0.0910625 ,
        0.0805    ,  0.09353869,  0.11051091,  0.09076091,  0.04083333,
        0.09376091,  0.09809425,  0.05083333,  0.09642758,  0.054     ,
        0.11914583,  0.042     ,  0.08233333,  0.079     ,  0.092625  ,
        0.042     ,  0.056     ,  0.081     ,  0.03583333,  0.05      ,
        0.027     ,  0.088625  ,  0.11295833,  0.08      ,  0.12966667,
        0.12133333,  0.09736944,  0.081     ,  0.0875    ,  0.111     ,
        0.07511905,  0.08      ,  0.105     ,  0.14922222,  0.058     ,
        0.1161    ,  0.05      ,  0.1576    ,  0.21470667,  0.011     ,
        0.009     ,  0.05141667,  0.16281742,  0.05114286,  0.00814286,
        0.03      ,  0.18087929,  0.007     ,  0.008     ,  0.18249633,
        0.0760625 ,  0.08747917,  0.18598643,  0.106375  ,  0.07461667,
        0.12498643,  0.05633333,  0.15058536,  0.08053333,  0.0210625 ,
        0.04772917,  0.04237619,  0.04537619,  0.09561071,  0.0972    ,
        0.014     ,  0.071     ,  0.03      ,  0.12035   ,  0.082375  ,
        0.072     ,  0.081     ,  0.090875  ,  0.0865    ,  0.107     ,
        0.060875  ,  0.051     ,  0.0215    ,  0.065     ,  0.028     ,
        0.05114286,  0.01072619,  0.13217452,  0.117875  ,  0.0560625 ,
        0.16326252,  0.039     ,  0.0275    ,  0.0355    ,  0.088     ,
        0.12382917,  0.033     ,  0.11776667,  0.054875  ,  0.0255    ,
        0.0692    ,  0.142375  ,  0.16494643,  0.0445    ,  0.12162121,
        0.028     ,  0.02064286,  0.03614286,  0.053     ,  0.046     ,
        0.02509524,  0.031     ,  0.0255    ,  0.042     ,  0.038     ,
        0.063875  ,  0.062     ,  0.066875  ,  0.13923831,  0.1503197 ,
        0.12684435,  0.1503197 ,  0.12346979,  0.03747619,  0.12331758,
        0.0695    ,  0.16195769,  0.1234289 ,  0.06637619,  0.09484881,
        0.063     ,  0.07631667,  0.12935455,  0.054     ,  0.15122485,
        0.25566369,  0.10014286,  0.15610119,  0.2659111 ,  0.15835119,
        0.21383036,  0.2659111 ,  0.05812619,  0.20617401,  0.1723996 ,
        0.18026071,  0.23850274,  0.13695119,  0.19750734,  0.25127502,
        0.10837619,  0.0441    ,  0.159     ,  0.13      ,  0.1715    ,
        0.2467899 ,  0.13361768,  0.09587019,  0.19350807,  0.07509091,
        0.02997302,  0.31594167,  0.26273927,  0.26986784,  0.04309524,
        0.08543333,  0.097     ,  0.061     ,  0.11333333,  0.0335    ,
        0.03883333,  0.05378333,  0.08987019,  0.04380769,  0.05725769,
        0.067     ,  0.16887677,  0.1085    ,  0.10703333,  0.099     ,
        0.04325769,  0.052     ,  0.18792857,  0.016     ,  0.08      ,
        0.035     ,  0.087     ,  0.113     ,  0.024     ,  0.026     ,
        0.16673864,  0.041     ,  0.034     ,  0.031     ,  0.096     ,
        0.055     ,  0.1034    ,  0.13319524,  0.011     ,  0.0085    ,
        0.08134636,  0.009     ,  0.01      ,  0.03814286,  0.16240281,
        0.06533333,  0.007     ,  0.052     ,  0.06      ,  0.16478333,
        0.007     ,  0.13      ,  0.15399167,  0.053     ,  0.034     ,
        0.016     ,  0.105     ,  0.108     ,  0.031     ,  0.12475714,
        0.03      ,  0.16695   ,  0.02      ,  0.032     ,  0.03      ,
        0.11439727,  0.05      ,  0.05      ,  0.037     ,  0.11735605,
        0.08674123,  0.028     ,  0.0284    ,  0.17541667,  0.087     ,
        0.05      ,  0.0265    ,  0.0235    ,  0.025     ,  0.023     ,
        0.034     ,  0.03283333,  0.0204    ,  0.025     ,  0.076     ,
        0.061     ,  0.0818373 ,  0.021625  ,  0.05198986,  0.04831944,
        0.022375  ,  0.006     ,  0.0368377 ,  0.032     ,  0.074     ,
        0.013     ,  0.007     ,  0.013     ,  0.02216667,  0.023     ,
        0.1109381 ,  0.056     ,  0.01066667,  0.06509091,  0.034     ,
        0.09819444,  0.051     ,  0.21114444,  0.18956966,  0.11170873,
        0.08161111,  0.08161111,  0.027     ,  0.01975   ,  0.05      ,
        0.055     ,  0.17325   ,  0.039     ,  0.046     ,  0.0414    ,
        0.034     ,  0.027     ,  0.24411111,  0.13682063,  0.164     ,
        0.0225    ,  0.042     ,  0.014     ,  0.024     ,  0.21847619,
        0.11386234,  0.026     ,  0.03      ,  0.025     ,  0.032     ,
        0.        ,  0.013     ,  0.001     ,  0.004     ,  0.027     ,
        0.015     ,  0.032     ,  0.006     ,  0.009     ,  0.001     ,
        0.001     ,  0.        ,  0.001     ,  0.001     ,  0.001     ,
        0.004     ,  0.        ,  0.001     ,  0.019     ,  0.        ,
        0.022     ,  0.011     ,  0.015     ,  0.004     ,  0.021     ,
        0.009     ,  0.001     ,  0.015     ,  0.011     ,  0.011     ,
        0.007     ,  0.002     ,  0.001     ,  0.01      ,  0.017     ,
        0.032     ,  0.007     ,  0.006     ,  0.013     ,  0.011     ,
        0.019     ,  0.002     ,  0.002     ,  0.015     ,  0.008     ,
        0.002     ,  0.003     ,  0.05      ,  0.006     ,  0.        ,
        0.003     ,  0.009     ,  0.004     ,  0.        ,  0.005     ,
        0.        ,  0.001     ,  0.009     ,  0.012     ,  0.008     ,
        0.002     ,  0.003     ,  0.002     ,  0.011     ,  0.007     ,
        0.011     ,  0.007     ,  0.004     ,  0.0395    ,  0.013     ,
        0.076     ,  0.106     ,  0.089     ,  0.027     ,  0.005     ,
        0.05      ,  0.031     ,  0.011     ,  0.015     ,  0.003     ,
        0.001     ,  0.048     ,  0.068     ,  0.059     ,  0.008     ,
        0.021     ,  0.008     ,  0.013     ,  0.024     ,  0.012     ])

In [ ]:
res = res.as_matrix()

In [221]:
total = 0
co = 0
for i in ypred:
    total += math.pow((ypred[co] - res[co]), 2.0)
    co += 1
1 - (total / 1000.0)

0.829

In [226]:
clf = ensemble.RandomForestClassifier(n_jobs=-1, n_estimators=1000)
clf.fit(df[predictors], df['WnvPresent'])
# create predictions and submission file
predictions = clf.predict_proba(test)[:,1]

In [227]:
total = 0
co = 0
for i in predictions:
    total += math.pow((predictions[co] - res[co]), 2.0)
    co += 1
1 - (total / 1000.0)

0.8583177350717628